*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    animation-name: aparecer;
    animation-duration: 3s;
}
@keyframes aparecer {
    from{opacity: 0;}
    to{opacity: 100;}
    
}
header{
    background-color: rgb(30,30,30);
    padding: 5px;
    color: antiquewhite;
    display: grid;
    text-align: center;
}

main{
    padding: 30px 50px;
}
.card{
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

.inputPd{
    display: grid;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    border: 0;
    padding: 10px;
    color: aliceblue;
    background-color: #303030;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease 0.3s;
}
button:hover{
    background-color: black;
}

.conteudo{
    margin-top: 15px;
}
table{
    border-collapse: collapse;
    width: 100%;
    border: #ccc;
}
table th{
    background-color: #303030;
    padding: 1px;
    color: aliceblue;
}
table td{
    padding: 1px;
    text-align: center;
    animation: muda_cor;
    animation-duration: 2s;
}
@keyframes muda_cor {
    from{
        background-color: green;
    }
    
}
table td img{
    width: 30px;
}
.vermelho{
    animation-name: vermelhos;
    animation-duration: 2s;
}
@keyframes vermelhos {
    from{
        background-color: red;
    }
}